<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moviemake">
	
	<!-- 전체 영화 목록 조회 -->
	<select id="movieSelectAll" resultType="movie.vo.MovieVO">
		SELECT M_NO, M_NAME, M_DIRECTOR, M_RUNNING_TIME, M_ACTOR, M_OPEN FROM MOVIE
	</select>

	<!-- 영화 버튼 누르면 오늘 날짜 이후의 예정된 날짜가 나온다 -->
	<select id="movieDate" resultType="string">	
		SELECT SCHEDULE_DATE
		FROM SCHEDULE
		WHERE TO_DATE(SCHEDULE_DATE) >= SYSDATE
	</select>
	
	<!-- 영화버튼 누르면 영화에 해당하는 상영날짜 리스트 출력 /영화제목 or 영화 번호 파라미터 고민-->
	<select id="movieDay" resultType="movie.vo.ScheduleVO" parameterType="String">
		SELECT SCHEDULE_NO, M_NO ,THEATER_NO, SCHEDULE_DATE, START_TIME FROM SCHEDULE
		WHERE M_NO = (SELECT M_NO FROM MOVIE WHERE M_NO = #{m_no})
	</select>
	
	<select id="scheduleAll" resultType="movie.vo.ScheduleVO">
		SELECT * FROM SCHEDULE
		<!-- WHERE (SELECT CUSTOMER_ID = 'solbee99' FROM CUSTOMER) -->
		<!-- 로그인하면 아이디 자리에 파라미터 받을 예정 -->
	</select>

	<!-- 예매내역 출력 (아이디 파라미터로 받아올 예정) -->
	<select id="reservedAll" resultType="movie.vo.ReservedVO">
		SELECT S.SCHEDULE_DATE, S.START_TIME,
	    	   M.M_NAME, M.M_RUNNING_TIME,
	    	   S.THEATER_NO, r.seat_no, r.reserv_no,
	    	   r.customer_ID
		FROM RESERVATION R, SCHEDULE S, MOVIE M
		 WHERE R.SCHEDULE_NO = S.SCHEDULE_NO
		 AND S.M_NO = M.M_NO
		 AND R.CUSTOMER_ID = 'solbee99'
		<!-- 로그인하면 아이디 자리에 파라미터 받을 예정 -->
	</select>

</mapper>







